In [1]:
import pandas as pd
from dateutil.relativedelta import relativedelta
import time
import datetime

### 데이터 로드

In [91]:
df = pd.read_csv("..\\..\\data\\분기 test.csv", encoding = "ms949")

### 매출액은 연결과 개별을 구분지어 필터생성할 것이기 때문에 구분해준다

In [92]:
A = df[(df["Kind"] == "NFS-IFRS(C)") & (df["Item Name "] == "매출액(원)")]
df.loc[A.index, "Item Name "] = "매출액(연결)"

In [93]:
df.head()

,Symbol,Kind,Item Name,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,...,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-02-05
0,A005930,NFS-IFRS(C),매출액(연결),"47,117,918,000,000","48,537,539,000,000","51,682,572,000,000","53,315,453,000,000","49,782,252,000,000","50,937,120,000,000","47,815,633,000,000",...,"65,978,412,000,000","60,563,714,000,000","58,482,658,000,000","65,459,993,000,000","59,265,050,000,000","52,385,546,000,000","56,127,104,000,000","62,003,471,000,000",NaN,NaN
1,A005930,NFS-IFRS(S),매출액(원),"31,689,206,000,000","32,552,308,000,000","35,820,499,000,000","35,143,032,000,000","32,714,774,000,000","33,337,425,000,000","32,583,623,000,000",...,"42,131,383,000,000","42,606,978,000,000","41,314,723,000,000","47,645,339,000,000","38,814,830,000,000","37,038,395,000,000","38,149,674,000,000","42,204,911,000,000",NaN,NaN
2,A005930,NFS-IFRS(C),영업이익(원),"5,979,367,000,000","6,897,937,000,000","7,393,373,000,000","6,142,765,000,000","6,675,812,000,000","8,143,950,000,000","5,200,089,000,000",...,"15,146,971,000,000","15,642,170,000,000","14,869,035,000,000","17,574,865,000,000","10,800,599,000,000","6,233,282,000,000","6,597,065,000,000","7,777,892,000,000",NaN,NaN
3,A005930,NFS-IFRS(C),지배주주순이익(원),"4,519,323,000,000","5,626,734,000,000","5,306,104,000,000","3,242,467,000,000","5,263,506,000,000","5,826,178,000,000","4,408,790,000,000",...,"12,016,324,000,000","11,611,833,000,000","10,981,547,000,000","12,967,428,000,000","8,330,069,000,000","5,107,490,000,000","5,064,530,000,000","6,105,039,000,000",NaN,NaN
4,A005930,NFS-IFRS(C),총자본(원),"167,619,307,000,000","173,936,646,000,000","180,728,636,000,000","179,059,805,000,000","178,326,186,000,000","181,842,516,000,000","179,536,379,000,000",...,"214,491,428,000,000","223,259,880,000,000","233,124,845,000,000","242,103,160,000,000","247,753,177,000,000","253,215,151,000,000","257,747,033,000,000","263,442,244,000,000",NaN,NaN

### 데이터의 계정이름을 사용하기 쉬운 계정이름으로 변환

In [94]:
계정명 = df["Item Name "].drop_duplicates().tolist()

In [95]:
바꿀계정명 = ["연결매출","매출액", "영업이익", "지배주주순이익", "총자본", "총부채", "자본금", "이익잉여금",  
                 "영업활동으로인한현금흐름", "투자활동으로인한현금흐름", "배당", "주가", "종가", "상장주식수"]

In [96]:
temp = {}

for 계정 in range(len(계정명)):
    temp[계정명[계정]] = 바꿀계정명[계정]
    print(계정명[계정]+ "     ->     " +  바꿀계정명[계정])

매출액(연결)     ->     연결매출
매출액(원)     ->     매출액
영업이익(원)     ->     영업이익
지배주주순이익(원)     ->     지배주주순이익
총자본(원)     ->     총자본
총부채(원)     ->     총부채
자본금(원)     ->     자본금
이익잉여금(원)     ->     이익잉여금
영업활동으로인한현금흐름(원)     ->     영업활동으로인한현금흐름
투자활동으로인한현금흐름(원)     ->     투자활동으로인한현금흐름
수정DPS(보통주,현금)(원)     ->     배당
수정주가(원)     ->     주가
종가(원)     ->     종가
상장주식수(주)     ->     상장주식수

### 바뀐 계정 할당

In [97]:
df = df.replace({"Item Name ": temp})

In [98]:
# 연결매출 판별하는데 사용한 Kind는 이제 필요가 없으므로 drop한다

In [99]:
df = df.drop("Kind", axis=1)

In [100]:
df.head()

,Symbol,Item Name,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,...,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-02-05
0,A005930,연결매출,"47,117,918,000,000","48,537,539,000,000","51,682,572,000,000","53,315,453,000,000","49,782,252,000,000","50,937,120,000,000","47,815,633,000,000","53,331,740,000,000",...,"65,978,412,000,000","60,563,714,000,000","58,482,658,000,000","65,459,993,000,000","59,265,050,000,000","52,385,546,000,000","56,127,104,000,000","62,003,471,000,000",NaN,NaN
1,A005930,매출액,"31,689,206,000,000","32,552,308,000,000","35,820,499,000,000","35,143,032,000,000","32,714,774,000,000","33,337,425,000,000","32,583,623,000,000","35,311,382,000,000",...,"42,131,383,000,000","42,606,978,000,000","41,314,723,000,000","47,645,339,000,000","38,814,830,000,000","37,038,395,000,000","38,149,674,000,000","42,204,911,000,000",NaN,NaN
2,A005930,영업이익,"5,979,367,000,000","6,897,937,000,000","7,393,373,000,000","6,142,765,000,000","6,675,812,000,000","8,143,950,000,000","5,200,089,000,000","9,220,821,000,000",...,"15,146,971,000,000","15,642,170,000,000","14,869,035,000,000","17,574,865,000,000","10,800,599,000,000","6,233,282,000,000","6,597,065,000,000","7,777,892,000,000",NaN,NaN
3,A005930,지배주주순이익,"4,519,323,000,000","5,626,734,000,000","5,306,104,000,000","3,242,467,000,000","5,263,506,000,000","5,826,178,000,000","4,408,790,000,000","6,917,181,000,000",...,"12,016,324,000,000","11,611,833,000,000","10,981,547,000,000","12,967,428,000,000","8,330,069,000,000","5,107,490,000,000","5,064,530,000,000","6,105,039,000,000",NaN,NaN
4,A005930,총자본,"167,619,307,000,000","173,936,646,000,000","180,728,636,000,000","179,059,805,000,000","178,326,186,000,000","181,842,516,000,000","179,536,379,000,000","192,963,033,000,000",...,"214,491,428,000,000","223,259,880,000,000","233,124,845,000,000","242,103,160,000,000","247,753,177,000,000","253,215,151,000,000","257,747,033,000,000","263,442,244,000,000",NaN,NaN

In [101]:
# df 시간변환

In [102]:
df = df.set_index(['Symbol', "Item Name "])
시간변환 = pd.to_datetime(df.columns)

In [103]:
시간변환

DatetimeIndex(['2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
               '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
               '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31',
               '2020-02-05'],
              dtype='datetime64[ns]', freq=None)

In [104]:
시간변환 = 시간변환.strftime("%Y-%m")
시간변환 = 시간변환.rename("date")

In [105]:
시간변환

Index(['2015-03', '2015-06', '2015-09', '2015-12', '2016-03', '2016-06',
       '2016-09', '2016-12', '2017-03', '2017-06', '2017-09', '2017-12',
       '2018-03', '2018-06', '2018-09', '2018-12', '2019-03', '2019-06',
       '2019-09', '2019-12', '2020-02'],
      dtype='object', name='date')

In [106]:
df.columns = 시간변환

In [107]:
df = df.stack().swaplevel().unstack()

In [108]:
df.head()

Item Name                      매출액        배당        상장주식수                연결매출  \
Symbol  date
A000270 2015-03  7,500,676,000,000       NaN  405,363,347  11,177,668,000,000
        2015-06  8,399,174,000,000       NaN  405,363,347  12,441,109,000,000
        2015-09  7,683,655,000,000       NaN  405,363,347  13,110,901,000,000
        2015-12  9,116,431,000,000  1,100.00  405,363,347  12,791,769,000,000
        2016-03  7,806,454,000,000       NaN  405,363,347  12,649,367,000,000

Item Name                   영업이익       영업활동으로인한현금흐름               이익잉여금  \
Symbol  date
A000270 2015-03  511,649,000,000    276,592,000,000  19,195,258,000,000
        2015-06  650,710,000,000  1,618,182,000,000  20,006,921,000,000
        2015-09  677,503,000,000  1,774,370,000,000  20,469,862,000,000
        2015-12  514,411,000,000   -293,896,000,000  21,039,080,000,000
        2016-03  633,622,000,000   -207,503,000,000  21,447,074,000,000

Item Name                      자본금      종가      주가          지배주주순이익  \
Symbol  date
A000270 2015-03  2,139,317,000,000  45,200  45,200  903,220,000,000
        2015-06  2,139,317,000,000  45,300  45,300  746,515,000,000
        2015-09  2,139,317,000,000  53,600  53,600  550,072,000,000
        2015-12  2,139,317,000,000  52,600  52,600  430,793,000,000
        2016-03  2,139,317,000,000  48,300  48,300  944,584,000,000

Item Name                       총부채                 총자본        투자활동으로인한현금흐름
Symbol  date
A000270 2015-03  19,195,957,000,000  22,437,353,000,000    -237,926,000,000
        2015-06  21,424,839,000,000  23,273,472,000,000  -2,241,703,000,000
        2015-09  21,660,820,000,000  23,978,890,000,000  -2,301,184,000,000
        2015-12  21,776,082,000,000  24,204,031,000,000    -833,010,000,000
        2016-03  23,686,499,000,000  24,596,996,000,000     241,875,000,000

### df type 실수로 변환

In [109]:
for 계정 in df.columns:
    df[계정] = df[계정].str.replace(',', "")

df = df.astype(float)

# Making Index

In [110]:
df["ROE"] = df["지배주주순이익"] /  df["총자본"]
df["영업이익률"] = df["영업이익"] / df["매출액"]

#### 추후에도 lag된 자료들을 쓰고 싶은 계정과목들은 여기서 미리 만든 이후에 lag를 진행한다

### #------------------------------------------------------------------------------------------------------------ #

## lag 진행

In [111]:
lag_1quarter = df.groupby(["Symbol"]).transform(lambda x : x.shift(1))
lag_2quarter = df.groupby(["Symbol"]).transform(lambda x : x.shift(2))
lag_3quarter = df.groupby(["Symbol"]).transform(lambda x : x.shift(3))
lag_4quarter = df.groupby(["Symbol"]).transform(lambda x : x.shift(4))

In [112]:
def lag_quarter_df(df, lag_quarter):
    data= df.copy()
    new_index_list = []
    for index in data.columns:
        new_index = index + " " + str(lag_quarter) + "Q lag"
        new_index_list.append(new_index)


    data.columns = new_index_list
    
    return data

In [113]:
lag_1quarter = lag_quarter_df(lag_1quarter, 1)
lag_2quarter = lag_quarter_df(lag_2quarter, 2)
lag_3quarter = lag_quarter_df(lag_3quarter, 3)
lag_4quarter = lag_quarter_df(lag_4quarter, 4)

In [114]:
temp = pd.concat([df, lag_1quarter, lag_2quarter, lag_3quarter, lag_4quarter], axis = 1)

In [115]:
temp.head()

                          매출액      배당        상장주식수          연결매출  \
Symbol  date
A000270 2015-03  7.500676e+12     NaN  405363347.0  1.117767e+13
        2015-06  8.399174e+12     NaN  405363347.0  1.244111e+13
        2015-09  7.683655e+12     NaN  405363347.0  1.311090e+13
        2015-12  9.116431e+12  1100.0  405363347.0  1.279177e+13
        2016-03  7.806454e+12     NaN  405363347.0  1.264937e+13

                         영업이익  영업활동으로인한현금흐름         이익잉여금           자본금  \
Symbol  date
A000270 2015-03  5.116490e+11  2.765920e+11  1.919526e+13  2.139317e+12
        2015-06  6.507100e+11  1.618182e+12  2.000692e+13  2.139317e+12
        2015-09  6.775030e+11  1.774370e+12  2.046986e+13  2.139317e+12
        2015-12  5.144110e+11 -2.938960e+11  2.103908e+13  2.139317e+12
        2016-03  6.336220e+11 -2.075030e+11  2.144707e+13  2.139317e+12

                      종가       주가  ...  이익잉여금 4Q lag    자본금 4Q lag  종가 4Q lag  \
Symbol  date                       ...
A000270 2015-03  45200.0  45200.0  ...           NaN           NaN        NaN
        2015-06  45300.0  45300.0  ...           NaN           NaN        NaN
        2015-09  53600.0  53600.0  ...           NaN           NaN        NaN
        2015-12  52600.0  52600.0  ...           NaN           NaN        NaN
        2016-03  48300.0  48300.0  ...  1.919526e+13  2.139317e+12    45200.0

                 주가 4Q lag  지배주주순이익 4Q lag    총부채 4Q lag    총자본 4Q lag  \
Symbol  date
A000270 2015-03        NaN             NaN           NaN           NaN
        2015-06        NaN             NaN           NaN           NaN
        2015-09        NaN             NaN           NaN           NaN
        2015-12        NaN             NaN           NaN           NaN
        2016-03    45200.0    9.032200e+11  1.919596e+13  2.243735e+13

                 투자활동으로인한현금흐름 4Q lag  ROE 4Q lag  영업이익률 4Q lag
Symbol  date
A000270 2015-03                  NaN         NaN           NaN
        2015-06                  NaN         NaN           NaN
        2015-09                  NaN         NaN           NaN
        2015-12                  NaN         NaN           NaN
        2016-03        -2.379260e+11    0.040255      0.068214

[5 rows x 80 columns]

#### 필터링 조건들 여기 추가

In [116]:
temp["시가총액"] = temp["상장주식수"] * temp["종가"]

# 포괄손익계산서
# 매출액 단위(천원)
temp["매출액 100억 이상"] = temp["매출액"] > 10000000000

#영업이익 4개 분기 모두 0 이상
temp["영업이익 4개분기 0 이상"] = (temp["영업이익"] > 0) & (temp["영업이익 1Q lag"] > 0) & (temp["영업이익 2Q lag"] > 0) & (temp["영업이익 3Q lag"] > 0)

# 영업이익률 증가
temp["영업이익률 전분기 대비 증가"] = (temp["영업이익률"] > temp["영업이익률 1Q lag"]) 
temp["영업이익률 전년도 동기 대비 증가"] = (temp["영업이익률"] > temp["영업이익률 4Q lag"]) 

# 매출액 3년 동안 증가
temp["매출액 전분기 대비 증가"] = (temp["매출액"] > temp["매출액 1Q lag"]) 
temp["매출액 전년도 동기 대비 증가"] = (temp["매출액"] > temp["매출액 4Q lag"]) 

# 시가총액 비율
# 이런 식으로 재무데이터와 주가 데이터가 혼합
# 이걸 할 수가 없네

#     temp["순이익시총비율 0.1이상"] = (temp["지배주주순이익"] / temp["시가총액"])  > 0.1
#     temp["영업이익시총비율 0.1이상"] = (temp["영업이익"] / temp["시가총액"]) > 0.1

# 영업이익 1Y lag와 비교하던지


## 재무상태표
# 자본잠식
temp["자본잠식 없음"] = temp["총자본"] > 0

# 부채비율
temp["부채비율"] = temp["총부채"] / temp["총자본"]
temp["부채비율 150% 이하"] = temp["부채비율"] < 1.5

# 자본금
temp["자본금 증가율"] = (temp["자본금"] - temp["자본금 1Q lag"]) / temp["자본금 1Q lag"]
temp["자본금 분기 변동없음"] = temp["자본금 증가율"].abs() < 0.05

# 이익잉여금
temp["이익잉여금 분기 증가"] = (temp["이익잉여금"] > temp["이익잉여금 1Q lag"]) &  (temp["이익잉여금"] > temp["이익잉여금 2Q lag"]) &  (temp["이익잉여금 1Q lag"] > temp["이익잉여금 2Q lag"])


## 현금흐름표

# 영업활동현금흐름
temp["영업활동으로인한현금흐름 판별"] = temp["영업활동으로인한현금흐름"] > 0
temp["4개분기 중 3분기 이상 영업활동으로인한현금흐름 0 초과"] = (temp["영업활동으로인한현금흐름 판별"].rolling(4).sum() > 3)

# 투자활동현금흐름
temp["투자활동으로인한현금흐름 판별"] = temp["투자활동으로인한현금흐름"] < 0
temp["4개분기 중 2분기 이상 투자활동으로인한현금흐름 0 미만"] = (temp["투자활동으로인한현금흐름 판별"].rolling(4).sum() > 2)


## 기타
# ROE가 5% 이상(수익성)
temp["ROE"] = temp["지배주주순이익"] / temp["총자본"]
temp["ROE 5퍼 이상"]  = temp["ROE"] > 0.05

In [117]:
필터조건 = ["매출액 100억 이상", "영업이익 4개분기 0 이상", "영업이익률 전분기 대비 증가", "영업이익률 전년도 동기 대비 증가",
        "매출액 전분기 대비 증가", "매출액 전년도 동기 대비 증가","4개분기 중 3분기 이상 영업활동으로인한현금흐름 0 초과"]

In [118]:
분기별조건 = temp[필터조건]

In [119]:
분기별조건

                 매출액 100억 이상  영업이익 4개분기 0 이상  영업이익률 전분기 대비 증가  \
Symbol  date
A000270 2015-03         True           False            False
        2015-06         True           False             True
        2015-09         True           False             True
        2015-12         True            True            False
        2016-03         True            True             True
        2016-06         True            True             True
        2016-09         True            True            False
        2016-12         True            True            False
        2017-03         True            True            False
        2017-06         True            True             True
        2017-09         True           False            False
        2017-12         True           False             True
        2018-03         True           False             True
        2018-06         True           False            False
        2018-09         True            True            False
        2018-12         True            True             True
        2019-03         True            True             True
        2019-06         True            True            False
        2019-09         True            True            False
        2019-12        False           False            False
        2020-02        False           False            False
A000660 2015-03         True           False            False
        2015-06         True           False            False
        2015-09         True           False            False
        2015-12         True            True            False
        2016-03         True            True            False
        2016-06         True            True            False
        2016-09         True            True             True
        2016-12         True            True             True
        2017-03         True            True             True
...                      ...             ...              ...
A105560 2017-06        False           False            False
        2017-09        False           False             True
        2017-12        False            True            False
        2018-03        False            True            False
        2018-06        False            True            False
        2018-09        False            True             True
        2018-12        False            True            False
        2019-03        False            True             True
        2019-06        False            True            False
        2019-09        False            True             True
        2019-12        False           False            False
        2020-02        False           False            False
A207940 2015-12        False           False            False
        2016-03         True           False            False
        2016-06         True           False            False
        2016-09         True           False            False
        2016-12         True           False            False
        2017-03         True           False            False
        2017-06         True           False            False
        2017-09         True           False            False
        2017-12         True           False            False
        2018-03         True           False            False
        2018-06         True           False            False
        2018-09         True           False            False
        2018-12         True           False            False
        2019-03         True           False            False
        2019-06         True           False            False
        2019-09         True           False            False
        2019-12        False           False            False
        2020-02        False           False            False

                 영업이익률 전년도 동기 대비 증가  매출액 전분기 대비 증가  매출액 전년도 동기 대비 증가  \
Symbol  date
A000270 2015-03               False          False             False
        2015-06               False           True             False
        2015-09               False          False             False
        2015-12               False           True             False
        2016-03                True          False              True
        2016-06                True           True             False
        2016-09               False          False             False
        2016-12                True           True             False
        2017-03               False          False              True
        2017-06               False           True             False
        2017-09               False           True              True
        2017-12               False          False             False
        2018-03               False          False             False
        2018-06               False           True              True
        2018-09                True          False             False
        2018-12                True           True              True
        2019-03                True          False              True
        2019-06                True           True              True
        2019-09                True          False              True
        2019-12               False          False             False
        2020-02               False          False             False
A000660 2015-03               False          False             False
        2015-06               False          False             False
        2015-09               False           True             False
        2015-12               False          False             False
        2016-03               False          False             False
        2016-06               False           True             False
        2016-09               False           True             False
        2016-12                True           True              True
        2017-03                True           True              True
...                             ...            ...               ...
A105560 2017-06                True           True              True
        2017-09                True          False             False
        2017-12                True           True             False
        2018-03               False           True              True
        2018-06                True           True              True
        2018-09               False          False              True
        2018-12               False           True              True
        2019-03               False          False              True
        2019-06               False           True              True
        2019-09                True          False             False
        2019-12               False          False             False
        2020-02               False          False             False
A207940 2015-12               False          False             False
        2016-03               False           True             False
        2016-06               False          False             False
        2016-09               False           True             False
        2016-12               False           True              True
        2017-03               False           True              True
        2017-06               False          False              True
        2017-09               False           True              True
        2017-12               False           True              True
        2018-03               False          False              True
        2018-06               False          False              True
        2018-09               False          False             False
        2018-12               False           True              True
        2019-03               False          False             False
        2019-06               False          False             False
        2019-09               False           True              True
        2019-12               False          False             False
        2020-02               False          False             False

                 4개분기 중 3분기 이상 영업활동으로인한현금흐름 0 초과
Symbol  date
A000270 2015-03                            False
        2015-06                            False
        2015-09                            False
        2015-12                            False
        2016-03                            False
        2016-06                            False
        2016-09                            False
        2016-12                            False
        2017-03                            False
        2017-06                            False
        2017-09                            False
        2017-12                            False
        2018-03                            False
        2018-06                            False
        2018-09                            False
        2018-12                            False
        2019-03                            False
        2019-06                            False
        2019-09                            False
        2019-12                            False
        2020-02                            False
A000660 2015-03                            False
        2015-06                            False
        2015-09                            False
        2015-12                             True
        2016-03                             True
        2016-06                             True
        2016-09                             True
        2016-12                             True
        2017-03                             True
...                                          ...
A105560 2017-06                            False
        2017-09                            False
        2017-12                            False
        2018-03                            False
        2018-06                            False
        2018-09                            False
        2018-12                            False
        2019-03                            False
        2019-06                            False
        2019-09                             True
        2019-12                            False
        2020-02                            False
A207940 2015-12                            False
        2016-03                            False
        2016-06                            False
        2016-09                            False
        2016-12                            False
        2017-03                            False
        2017-06                            False
        2017-09                            False
        2017-12                            False
        2018-03                            False
        2018-06                            False
        2018-09                            False
        2018-12                            False
        2019-03                            False
        2019-06                            False
        2019-09                            False
        2019-12                            False
        2020-02                            False

[417 rows x 7 columns]

In [120]:
분기별조건 = 분기별조건.reset_index().set_index(["date", "Symbol"]).sort_index()

In [121]:
분기별조건.to_csv("quarter_filter.csv", encoding = "ms949")

In [124]:
now = datetime.datetime.now()
now = now.strftime("%Y-%m-%d")

now

'2020-02-06'

In [125]:
date = datetime.datetime.strptime(now, "%Y-%m-%d")
year = date.year
month = date.month
day = date.day

In [127]:
year

2020

In [155]:
def assign_quarter(date):
    date = datetime.datetime.strptime(date, "%Y-%m-%d")
    year = date.year
    month = date.month
    day = date.day
    
    if month > 3:
        if month == 4:
            ref_year = year - 1
            ref_month = "12"
            
        elif month == 5:
            if day > 15:
                ref_year = year
                ref_month = "03"
            else:
                ref_year = year - 1
                ref_month = "12"
                
        elif (month == 6) or (month == 7):
            ref_year = year
            ref_month = "03"
            
        elif month == 8 :
            if day > 15:
                ref_month = "06"
            else:
                ref_month = "03"
            ref_year = year
            
        elif (month == 9) or (month == 10):
            ref_year = year
            ref_month = "06"
            
        elif month == 11:
            if day > 15:
                ref_month = "09"
                
            else:
                ref_month = "06"
            ref_year = year
                
        elif month == 12:
            ref_year = year
            ref_month = "09"
        
        
    else:
        ref_year = year - 1
        ref_month = "09"
        
    return str(ref_year) + "-" +ref_month

In [163]:
A = "2020-02-06"

In [164]:
get_ref_quarter = assign_quarter(A)

In [166]:
get_ref_quarter

'2019-09'

In [168]:
분기별조건.loc[get_ref_quarter].head()

,매출액 100억 이상,영업이익 4개분기 0 이상,영업이익률 전분기 대비 증가,영업이익률 전년도 동기 대비 증가,매출액 전분기 대비 증가,매출액 전년도 동기 대비 증가,4개분기 중 3분기 이상 영업활동으로인한현금흐름 0 초과
Symbol,,,,,,,
A000270,True,True,False,True,False,True,False
A000660,True,True,False,False,True,False,False
A005380,True,True,False,True,False,True,False
A005490,True,True,False,False,True,False,True
A005930,True,True,True,False,True,False,True